@import '../../../styles/themeColors.scss';

.headText {
    color: $white;
}

.cardBg {
    background-color: $white;
}

.cardTitle {
    color: $text;
}

.textColor {
    color: $text;
}

.cardHoverAction {
    color: $button;
}