@import '../../../styles/themeColors.scss';

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar {
    color: $white;
}

.totalScore {
    color: $text;
}