@import '../../../styles/themeColors.scss';

.tableBg {
    background-color: $white !important;
}

.title {
    color: $white;
}

.whiteBg {
    background-color: $white;
}

.themeBlue {
    color: $text;
}