@import '../../../styles/themeColors.scss';


.container {
    background-color: $white;
}

.backToLoginBtn {
    color: $text;
}

.text {
    color: $text;
}

.headerColor {
    color: $text;
    cursor: default;
}

.textColor {
    color: $text;
    cursor: pointer;
}