@import '../../../styles/themeColors.scss';

.background {
  // background-color:$text;
  border: 2px solid $text;
  background-color: $text;
}

.answerOption {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}

.modelColor {
  color: $text;
}
.buttonTheme{
  color: $button;
}
.InputBg{
  background-color:transparent;
}
.correct-answer {
  background-color: green; /* Change background color for correct answer */
}
